<!-- Todo move card-elevation-z4 -->
<md-sidenav-container class="layout-container" [ngClass]='card-elevation-z4'>

  <div class="layout" fxLayout="column" [class.alpha]="true" [class.boxed]="false">

      <md-sidenav-container fxFlex>

        <md-sidenav class="sidenav-container" (open)="openSidenav()" (close)="closeSidenav()" [opened]="sidenavOpen" [align]="sidenavAlign"
          [mode]="sidenavMode" [disableClose]="sidenavDisableClose" [appSidenavCollapse]="sidenavCollapsed">

          <app-sidenav [collapsed]="sidenavCollapsed" (toggledSidenavCollapse)="toggleSidenavCollapse()"></app-sidenav>

        </md-sidenav>

        <div class="toolbar-container" fxLayout="column">
          
          <app-toolbar [sidenavCollapsed]="sidenavCollapsed"
            (toggledSidenav)="toggleSidenav()">
          </app-toolbar>


          <app-scrollbar id="main-scrollbar" class="content-container" fxFlex #scrollContainer>
            <!-- <router-outlet (activate)="onActivate()"></router-outlet> -->
          </app-scrollbar>
        </div>
      </md-sidenav-container>

  </div>

</md-sidenav-container>