.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.header {
  min-height: 64px;
}

.mat-form-field {
  font-size: 14px;
  width: 400px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-cell,
.mat-header-cell {
  margin-right: 10px;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 15px;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 40px;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 150px;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 280px;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 40px;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 100px;
}

.mat-cell:nth-child(8),
.mat-header-cell:nth-child(8) {
  flex: 20px;
}

.mat-cell:nth-child(9),
.mat-header-cell:nth-child(9) {
  flex: 30px;
}

.mat-cell:nth-child(10),
.mat-header-cell:nth-child(10) {
  flex: 30px;
}

.mat-cell:nth-child(15),
.mat-header-cell:nth-child(15) {
  flex: 25px;
}
