<div
    class="example-headers-align"
    fxFlex.gt-md="400px"
    fxLayout="column"
>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Filters</mat-panel-title>
        </mat-expansion-panel-header>

        <app-autocomplete-with-chips
            *ngIf="jobProfileFilter.options"
            [filter]="jobProfileFilter"
        ></app-autocomplete-with-chips>

        <app-autocomplete-with-chips
            *ngIf="officeFilter.options"
            [filter]="officeFilter"
        ></app-autocomplete-with-chips>

        <app-autocomplete-with-chips
            *ngIf="capabilityFilter.options"
            [filter]="capabilityFilter"
        ></app-autocomplete-with-chips>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>More Filters</mat-panel-title>
        </mat-expansion-panel-header>

        <app-autocomplete-with-chips
            *ngIf="skillFilter.options"
            [filter]="skillFilter"
            [lazyOptionsLoading]="true"
        ></app-autocomplete-with-chips>

        <app-autocomplete-with-chips
            *ngIf="trainingFilter.options"
            [filter]="trainingFilter"
            [lazyOptionsLoading]="true"
        ></app-autocomplete-with-chips>
    </mat-expansion-panel>
  </div>
