<mat-card fxFlex.gt-md="400px">
    <mat-card-title>Filters</mat-card-title>
    <mat-card-content fxLayout="column">

        <app-autocomplete-with-chips
            *ngIf="jobProfileFilterService.options"
            [filter]="jobProfileFilterService"
        ></app-autocomplete-with-chips>

        <app-autocomplete-with-chips
            *ngIf="officeFilterService.options"
            [filter]="officeFilterService"
        ></app-autocomplete-with-chips>

        <app-autocomplete-with-chips
            *ngIf="capabilityFilterService.options"
            [filter]="capabilityFilterService"
        ></app-autocomplete-with-chips>

        <app-autocomplete-with-chips
            *ngIf="skillFilterService.options"
            [filter]="skillFilterService"
            [lazyOptionsLoading]="true"
        ></app-autocomplete-with-chips>

    </mat-card-content>
</mat-card>
