<div
    class="profile-overview"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <mat-card>
        <mat-card-header>
            <mat-card-title>About</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div
                class="content"
                *ngIf="shortProfiles"
            >

                <div *ngIf="shortProfiles.length > 1; then multiple else single"></div>
                <ng-template #single>
                    <div
                        fxLayout="column"
                        fxLayoutGap="5px"
                    >
                        <p>{{ shortProfiles[0]?.DescriptionDe }}</p>
                        <p>{{ shortProfiles[0]?.DescriptionEn }}</p>
                    </div>
                </ng-template>
                <ng-template #multiple>
                    <mat-accordion>
                        <mat-expansion-panel
                            *ngFor="let p of shortProfiles; first as isFirst"
                            [expanded]="isFirst"
                        >
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{ p.Role }}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div
                                fxLayout="column"
                                fxLayoutGap="12px"
                            >
                                <p>{{ p.DescriptionDe }}</p>
                                <p>{{ p.DescriptionEn }}</p>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-template>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Projects</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="code">
            <div
                class="content"
                fxLayout="column"
                fxLayoutGap="12px"
            >
                <app-project-participation-table></app-project-participation-table>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Project Chart</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div
                        fxLayout="column"
                        fxLayoutGap="12px"
                    >
                        <img
                            class="project-graph"
                            fxFlexAlign="center"
                            src="http://localhost:41588/api/v1/employees/{{ code }}/utilization?width=1000&weeks=32&offset=0"
                        >
                    </div>
                </mat-expansion-panel>

            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="allSkills?.length > 0">
        <mat-card-header>
            <mat-card-title>Skills</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="content">
                <div
                    fxLayout="row"
                    fxLayoutGap="5px"
                >
                    <div
                        fxFlex
                        fxLayout="column"
                    >
                        <app-skill-list
                            [level]="1"
                            [allSkills]="allSkills"
                        ></app-skill-list>
                    </div>
                    <div
                        fxFlex
                        fxLayout="column"
                    >
                        <app-skill-list
                            [level]="2"
                            [allSkills]="allSkills"
                        ></app-skill-list>
                    </div>
                    <div
                        fxFlex
                        fxLayout="column"
                    >
                        <app-skill-list
                            [level]="4"
                            [allSkills]="allSkills"
                        ></app-skill-list>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
