<div class="simple-table">

    <div class="container">

        <div
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="16px"
            fxLayoutAlign="start start"
        >
            <div
                class="sticky"
                #sticky
            >
                <app-employees-filter-panel
                    (queryParamsChange)="onQueryParamsChanged($event)"
                    (routerParamsChange)="onRouterParamsChanged($event)"
                    (tableFilterChange)="applyFilter($event.target.value)"
                ></app-employees-filter-panel>
            </div>

            <div
                fxFlex
                class="container mat-elevation-z2"
            >
                <mat-table
                    [dataSource]="dataSource"
                    matSort
                >

                    <ng-container matColumnDef="avatar">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <img
                                class="avatar"
                                src="http://localhost:41588/img/Employees/{{row.code}}.jpg"
                            >
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.fullName}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="code">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Code
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.code}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Title
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="organisationUnit">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Organisation Unit
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.organisationUnit }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="location">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Location
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.location }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="privateAddress">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Private Address
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{row.PrivateAddressZip}} {{row.PrivateAddressCity}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="availability">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Availability
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <img src="http://localhost:41588/api/v1/employees/{{row.code}}/utilization/line">
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        [routerLink]="row.Code"
                        *matRowDef="let row; columns: displayedColumns;"
                    ></mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>
