<div class="simple-table">

    <!-- <app-page-header [height]="'158px'" background="url(/assets/pattern-3.png)"></app-page-header> -->

    <div class="container">

        <!-- <vr-breadcrumbs [currentPage]="'Simple Table'" [names]="['Tables']" [header]="'primary'"></vr-breadcrumbs> -->

        <div
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="16px"
            fxLayoutAlign="start start"
        >
            <div
                class="sticky"
                #sticky
            >
                <app-employees-filter-panel
                    (queryParamsChange)="onQueryParamsChanged($event)"
                    (routerParamsChange)="onRouterParamsChanged($event)"
                ></app-employees-filter-panel>
            </div>

            <div
                fxFlex
                class="mat-elevation-z2"
            >
                <table class="table table-hover table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Location</th>
                            <th>Avalability</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employees" [routerLink]="employee.Code">
                            <td class="avatar-cell">
                                <img
                                    class="avatar"
                                    src="http://localhost:41588/img/Employees/{{employee.Code}}.jpg"
                                >
                            </td>
                            <td>{{ employee.FullName }}</td>
                            <td>{{ employee.Title }}</td>
                            <td>
                                {{ employee.Location }}
                                <br>
                                {{employee.PrivateAddressZip}} {{employee.PrivateAddressCity}}
                            </td>
                            <td>
                                <img src="http://localhost:41588/api/v1/employees/{{employee.Code}}/utilization/line">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
