@import "../../styles/var";

.container {
  width: 100%;
}

.table {
  @include responsivePadding();
}

.mat-cell {
  cursor: pointer;
}

.avatar-cell {
  text-align: center;
  width: 40px;
  padding-left: 24px;
  padding-right: 8px;
}

.mat-cell:first-child,
.mat-header-cell:first-child {
  flex: 0.5;
}


.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 100px;
}

.mat-cell:last-child,
.mat-header-cell:last-child {
  flex: 250px;
}


.sticky {
  position: relative;
  // TODO margin-top: 60px + 16px; // Height of the table header + 16px padding
}
