<div class="simple-table">

    <div class="container">

        <div
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="16px"
            fxLayoutAlign="start start"
        >
            <div
                class="sticky"
                #sticky
            >
                <app-employees-filter-panel
                    (queryParamsChange)="onQueryParamsChanged($event)"
                    (routerParamsChange)="onRouterParamsChanged($event)"
                    (tableFilterChange)="applyFilter($event.target.value)"
                ></app-employees-filter-panel>
            </div>

            <div
                fxFlex
                class="container mat-elevation-z2"
            >
                <mat-table
                    [dataSource]="dataSource"
                    matSort
                >

                    <ng-container matColumnDef="Avatar">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <img
                                class="avatar"
                                src="http://localhost:41588/img/Employees/{{row.Code}}.jpg"
                            >
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="FullName">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.FullName}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Code">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Code
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.Code}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Title">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Title
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.Title}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="OrganisationUnit">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Organisation Unit
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.OrganisationUnit }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Location">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Location
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.Location }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="PrivateAddress">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Private Address
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{row.PrivateAddressZip}} {{row.PrivateAddressCity}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Availability">
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Availability
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <img src="http://localhost:41588/api/v1/employees/{{row.Code}}/utilization/line">
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        [routerLink]="row.Code"
                        *matRowDef="let row; columns: displayedColumns;"
                    ></mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>
