<div
    class="profile"
    *ngIf="employee$ | async let employee"
>
    <div class="container">

        <div
            class="splash mat-elevation-z4"
            fxLayout="column"
            fxLayout.gt-sm="row"
            fxLayoutAlign="start center"
            fxLayoutAlign.gt-sm="space-between"
        >
            <div
                fxLayout="row"
                fxLayoutGap="70px"
                class="left"
            >
                <div
                    fxLayout="column"
                    fxLayoutGap="10px"
                    fxLayoutAlign="start center"
                >
                    <h2>
                        {{ employee.FirstName }} {{ employee.LastName}}
                    </h2>
                    <img
                        fxFlex="150px"
                        class="picture"
                        src="http://localhost:41588/api/v1/employees/{{ employee.Code }}/picture?large=true"
                    >

                    <h3 class="heading">{{ employee.Title }}</h3>
                    <div class="description">
                        {{ employee.Location }}
                        <span *ngIf="employee.WorkingPlace">, {{ employee.WorkingPlace }}</span>
                        ({{ employee.Percentage }}%)
                    </div>
                    <div
                        class="social"
                        fxLayout="row"
                        fxLayoutGap="15px"
                    >
                        <a
                            *ngIf="employee.GitHubUrl"
                            [href]="employee.GitHubUrl"
                        >
                            <i class="fa fa-github"></i>
                        </a>
                        <a
                            *ngIf="employee.TwitterProfileUrl"
                            [href]="employee.TwitterProfileUrl"
                        >
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a
                            *ngIf="employee.XingProfileUrl"
                            [href]="employee.XingProfileUrl"
                        >
                            <i class="fa fa-xing"></i>
                        </a>
                        <a
                            *ngIf="employee.BitBucketUrl"
                            [href]="employee.BitBucketUrl"
                        >
                            <i class="fa fa-bitbucket"></i>
                        </a>
                        <a
                            *ngIf="employee.LinkedInProfileUrl"
                            [href]="employee.LinkedInProfileUrl"
                        >
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a
                            *ngIf="employee.StackoverflowProfileUrl"
                            [href]="employee.StackoverflowProfileUrl"
                        >
                            <i class="fa fa-stack-overflow"></i>
                        </a>
                    </div>
                </div>

                <div
                    fxLayout="column"
                    class="detail-box"
                    fxLayoutGap="20px"
                    fxLayoutAlign="start start"
                >
                    <h2>Personal</h2>
                    <div fxLayout="row">
                        <div class="label">
                            <div>Phone</div>
                        </div>
                        <div fxLayout="column">
                            <div id="phone-business">{{ employee.BusinessPhone }}</div>
                            <div id="phone-private">{{ employee.MobilePhone }}</div>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="label">
                            <div>Home Address</div>
                        </div>
                        <div fxLayout="column">
                            <div>{{ employee.PrivateAddress.Street }}</div>
                            <div>
                                {{ employee.PrivateAddress.Zip }} {{ employee.PrivateAddress.City }}
                            </div>
                            <div>{{ employee.PrivateAddress.Country }}</div>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="label">
                            <div>Date of Birth</div>
                        </div>
                        <div fxLayout="column">
                            <div>
                                {{ employee.DateOfBirth | date:'dd.MM.yyyy' }}
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="label">
                            <div>Citizenship</div>
                        </div>
                        <div fxLayout="column">
                            <div>{{ employee.Citizenship }}</div>
                        </div>
                    </div>

                </div>

                <div
                    fxLayout="column"
                    fxLayoutGap="20px"
                    class="detail-box"
                >
                    <h2>Employement</h2>
                    <div fxLayout="row">
                        <div class="label">
                            <div>Percentage</div>
                        </div>
                        <div fxLayout="column">
                            <div>{{ employee.Percentage }}%</div>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="label">
                            <div>Location</div>
                        </div>
                        <div fxLayout="column">
                            <div>{{ employee.Location }}</div>
                        </div>
                    </div>

                    <div
                        *ngIf="employee.JobProfile"
                        fxLayout="row"
                    >
                        <div class="label">
                            <div>Job Profile</div>
                        </div>
                        <div fxLayout="column">
                            <div>{{ employee.JobProfile.Name }}</div>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="label">
                            <div>Function</div>
                        </div>
                        <div fxLayout="column">
                            <div>
                                {{ employee.Qualification.Name }} (Grade {{ employee.Qualification.Grade }})
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="label">
                            <div>Superior</div>
                        </div>
                        <div fxLayout="column">
                            <div>{{ employee.Superior }}</div>
                        </div>
                    </div>

                    <div
                        *ngIf="employee.Assistance"
                        fxLayout="row"
                    >
                        <div class="label">
                            <div>Superior</div>
                        </div>
                        <div fxLayout="column">
                            <div>{{ employee.Assistance.FullName }}</div>
                        </div>
                    </div>

                    <div
                        *ngIf="employee.Team"
                        fxLayout="row"
                    >
                        <div class="label">
                            <div>Organisation Unit</div>
                        </div>
                        <div fxLayout="column">
                            <div>{{ employee.Team.Name }}</div>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div class="label">
                            <div>Internal Rate</div>
                        </div>
                        <div fxLayout="column">
                            <div>
                                {{ employee.ExternalRate}} {{ employee.Currency }}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <mat-tab-group class="profile-tabs clean-tabs mat-elevation-z4">
            <mat-tab label="Details">
                <app-employee-details></app-employee-details>
            </mat-tab>
            <mat-tab label="Further Development">
                <app-further-development></app-further-development>
            </mat-tab>
            <mat-tab label="Project History">
                <app-project-history [employeeDetail]="employee"></app-project-history>
            </mat-tab>
            <mat-tab
                label="Offering Material"
                [disabled]="true"
            >
            </mat-tab>
        </mat-tab-group>

    </div>
</div>
