@import '../../../styles/var';

.profile {
  @include responsivePadding;

  .splash {
    background: white;
    padding: 32px 8px;

    border: 1px solid #e0e0e0;
    //@include mat-elevation(1);

    .label {
      display: flex;
      flex-direction: column;
      width: 150px;
    }

    .detail-box {
      padding: 0px 32px;
      border-left: 1px solid #e0e0e0;
    }

    .left {
      padding: 16px 32px;

      .picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;

        @include mat-elevation(4);
      }

      .name {
        font-size: 28px;
      }

      .description,
      .contact {
        margin-top: 6px;
        font-size: 14px;
        color: $color__text-dark;

        .icon {
          font-size: 18px;
          line-height: 18px;
          width: 18px;
          height: 18px;
        }
      }

      .actions {
        margin-top: 6px;

        .primary-button {
          padding: 2px 32px;
        }
      }
    }

    .right {
      padding: 16px 32px;
      border-left: 1px solid #e0e0e0;

      @include lt-sm {
        border-left: none;
      }

      .info {
        font-size: 14px;

        .names {
          .name {
            font-weight: 500;
          }
        }

        .values {
          margin-left: 24px;
        }

        .name,
        .value {
          padding: 8px 0;
        }
      }

      .social {
        height: 40px;
        font-size: 20px;
        color: mat-color($color-primary);
        cursor: pointer;
      }
    }
  }

  .profile-tabs {
    margin-top: 24px;
    background: white;
  }
}
