<!-- TODO: rename -->
<div
    class="profile"
    *ngIf="employee$ | async let employee"
>

    <!-- <vr-page-header [height]="'416px'" background="url(/assets/img/demo/headers/pattern-1.png)" [reverse]="true"></vr-page-header> -->

    <div class="container">

        <!-- <vr-breadcrumbs [currentPage]="'Profile'" [header]="'primary'"></vr-breadcrumbs> -->

        <div
            class="splash mat-elevation-z4"
            fxLayout="column"
            fxLayout.gt-sm="row"
            fxLayoutAlign="start center"
            fxLayoutAlign.gt-sm="space-between"
        >
            <div
                fxLayout="row"
                class="left"
            >
                <div
                    fxLayout="column"
                    fxLayoutGap="35px"
                    fxLayoutAlign="center"
                >
                    <img
                        fxFlex="150px"
                        class="picture"
                        src="http://localhost:41588/api/v1/employees/{{ employee.Code }}/picture?large=true"
                    >
                    <div
                        class="social"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="15px"
                    >
                        <i class="fa fa-github"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa fa-stack-overflow"></i>
                    </div>
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="space-between"
                >
                    <div>
                        <div class="name">
                            {{ employee.FirstName }} {{ employee.LastName}}
                            <mat-card-subtitle class="heading">{{ employee.Title }}</mat-card-subtitle>
                        </div>
                    </div>
                    <div
                        class="info"
                        fxLayout="row"
                    >
                        <div class="names">
                            <div class="name">Phone</div>
                            <div class="name"></div>
                            <div class="name">Home Address</div>
                            <div class="name"></div>
                            <div class="name"></div>
                            <div class="name">Date of Birth</div>
                            <div class="name">Citzenship</div>
                        </div>
                        <div class="values">
                            <div class="value">+41 78 202 20 54</div>
                            <div class="value">+41 78 202 20 54</div>
                            <div class="value">Albulastrasse 52</div>
                            <div class="value">8048 Zürich</div>
                            <div class="value">Switzerland</div>
                            <div class="value">09.03.1983</div>
                            <div class="value">Quarten SG</div>
                        </div>
                    </div>

                    <div
                        class="description"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="6px"
                    >
                        {{ employee.Location }}
                        <span *ngIf="employee.WorkingPlace">, {{ employee.WorkingPlace }}</span>
                        ({{ employee.Percentage }}%)
                    </div>

                </div>

            </div>

            <div
                class="right"
                fxLayout="column"
                fxLayoutAlign="space-between"
            >

                <div
                    class="info"
                    fxLayout="row"
                >
                    <div class="names">
                        <div class="name">Availability:</div>
                        <div class="name">Address:</div>
                        <div class="name">Telephone:</div>
                    </div>
                    <div class="values">
                        <div class="value">Full-time (40h/week)</div>
                        <div class="value">Albulastrasse 52, 8048 Zürich</div>
                        <div class="value">+41 78 202 20 54</div>
                    </div>
                </div>

            </div>

        </div>

        <mat-tab-group class="profile-tabs clean-tabs mat-elevation-z4">
            <mat-tab label="Details">
                <app-employee-details></app-employee-details>
            </mat-tab>
            <mat-tab
                label="Further Development"
                [disabled]="true"
            >
            </mat-tab>
            <mat-tab
                label="Project History"
                [disabled]="true"
            >
            </mat-tab>
            <mat-tab
                label="Offering Material"
                [disabled]="true"
            >
            </mat-tab>
        </mat-tab-group>

    </div>
</div>
