<h3>
    {{ getTitle() }}
    <span class="text-nowrap">
        <span title="getTitle()">
            <i
                [style.color]="level > 0 ? '#75a4dd' : '#ddd'"
                class="fa fa-square"
            ></i>
            <i
                [style.color]="level > 1 ? '#75a4dd' : '#ddd'"
                class="fa fa-square"
            ></i>
            <i
                [style.color]="level > 3 ? '#75a4dd' : '#ddd'"
                class="fa fa-square"
            ></i>
        </span>
    </span>
</h3>
