<div *ngIf="item.routeIsFunction(); then function else route"></div>

<ng-template #function>
  <a class="sidenav-item" [class.open]="isOpen(item)" md-ripple
     (click)="item.route"
     fxLayout="row" fxLayoutAlign="start center">

    <span class="name">{{ item.name }}</span>
    <span fxFlex></span>
    <md-icon class="icon" *ngIf="item.icon">{{ item.icon }}</md-icon>
  </a>
</ng-template>

<ng-template #route>
  <a class="sidenav-item" [class.open]="isOpen(item)" md-ripple
     [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
     fxLayout="row" fxLayoutAlign="start center">

    <span class="name">{{ item.name }}</span>
    <span fxFlex></span>
    <md-icon class="icon" *ngIf="item.icon">{{ item.icon }}</md-icon>
  </a>
</ng-template>
