<mat-form-field>
    <input
        type="text"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
    >
</mat-form-field>

<mat-chip-list>
  <mat-chip *ngFor="let option of selectedOptions">{{ option.name }}
    <mat-icon (click)="onOptionRemoved(option)" matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
</mat-chip-list>

<mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="display"
>
    <mat-option
        *ngFor="let option of filteredOptions$ | async"
        (onSelectionChange)="onSelectionChanged(option)"
        [value]=""

    >
        {{ option.name }}
    </mat-option>
</mat-autocomplete>
